html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#fix-phone-under-menu {
    position: fixed;
    height: 50px;
    left:0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    overflow: scroll;
}

#pixelcanvas {
    height: 85%;
    width: 100%;
    background-color: white;
    overflow: scroll;
}

#footer {
    width: 100%;
    height: 60px;
}